<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slzh.dao.SysReportMapper">


    <resultMap id="baseRs" type="com.slzh.model.SysReport">
        <id column="id" property="id"></id>
        <result column="report_name" property="reportName"></result>
        <result column="x_data" property="xData"></result>
        <result column="y_datas" property="yDatas"></result>
        <result column="type" property="type"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="updated_time" property="updatedTime"></result>
        <result column="data_origin" property="dataOrigin"></result>
        <result column="data_pusher" property="dataPusher"></result>
    </resultMap>
    <insert id="receiveReport">
        insert into sys_report(report_name,x_data,y_datas,`type`,data_origin,data_pusher)
        value(#{reportName},#{xData},#{yDatas},#{type},#{dataOrigin},#{dataPusher})
    </insert>
    <select id="findPage" resultMap="baseRs">
        select id,report_name,x_data,y_datas,created_time,updated_time,`type`,data_origin,data_pusher
        from sys_report
        where created_time between #{startTime} and #{endTime}
        <if test="dataOrigin != null and dataOrigin !=''">
            and data_origin = #{dataOrigin}
        </if>
        <if test="type != null and type !=0">
            and `type` = #{type}
        </if>
    </select>


</mapper>